<a href="https://colab.research.google.com/github/noahgift/dataviz/blob/main/dataviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization

## Ingest

ingest should be 100% reproducible

In [1]:
import pandas as pd

#not reproducible
#df = read_csv("C:/data.txt")

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

## EDA

## Model

## Conclusion